<h2 class="text-center text-primary mb-5">Upravit slevu</h2>
<div *ngIf="loadingState.isSuccess()" class="alert alert-success">Produkt úspěšně upraven</div>
<div *ngIf="loadingState.isError()" class="alert alert-danger">Při úpravě nastala chyba</div>
<div class="row mb-5">
  <div class="col-md-7">
    <div class="row">
      <h3 class="text-info">Náhled</h3>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="card">
            <div class="card-header"><h4>Sleva číslo {{alteredDiscount.id}}</h4></div>
            <div class="card-body">
              <div class="card-text">Sleva: {{alteredDiscount.percent}}%</div>
              <div class="card-text">Datum
                od: {{discountsService.dateToUserFriendlyStr(alteredDiscount.datefrom)}}</div>
              <div class="card-text">Datum do: {{discountsService.dateToUserFriendlyStr(alteredDiscount.dateto)}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card">
          <div class="card-header"><h4>{{productToDiscount.name}}</h4></div>
          <div class="card-body">
            <img src="{{productsService.getPictureUrl(productToDiscount)}}" alt="{{productToDiscount.name}}"
                 height="100"
                 width="100">
            <p class="card-text">
              <del>{{productToDiscount.price.toFixed(2)}} CZK</del>
            </p>
            <p class="card-text">{{discountPrice.toFixed(2)}} CZK</p>
            <button class="btn btn-success">Objednat</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <h3 class="text-info">Sleva: </h3>
    <h4 class="text-secondary">Procenta: </h4>
    <input class="form-control" type="number" min="0" max="90" (keyup)="updateDiscount($event)">
    <h4 class="text-secondary">Datum slevy</h4>
    <label for="dateFrom" class="form-label">Od</label>
    <input class="form-control" type="date" id="dateFrom" name="dateFrom" (change)="changeDateFrom($event)"
           min="{{min}}"><br>
    <label for="dateFrom" class="form-label">Do</label>
    <input class="form-control" type="date" id="dateTo" name="dateTo" (change)="changeDateTo($event)"
           min="{{getMinDateTo()}}">
  </div>
</div>
<div class="row mb-3">
  <button class="btn btn-warning" (click)="alterDiscount()">Dokončit úpravu</button>
</div>
<div class="row mb-3">
  <button class="btn btn-primary" (click)="showAllDiscounts()">Zpět na výpis slev</button>
</div>
