<div *ngIf="loadingState.isWorking()">
  <span class="spinner-border spinner-border-sm"></span> Loading...
</div>
<div *ngIf="loadingState.isError()">
  <div class="alert alert-danger">Spojení se serverem selhalo.</div>
</div>
<div *ngIf="!isAlterDiscount">
  <div *ngIf="loadingState.isSuccess()">
    <h1 class="text-primary text-center mb-5">Seznam slev</h1>
    <h2 class="text-secondary mb-3">Produkt</h2>
    <select class="form-control mb-5" id="test" name="product" (change)="loadProductDiscounts($event)">
      <option value="-1">Všechny produkty</option>
      <option id="{{product.id}}" *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
    </select>
    <div *ngIf="discountsFuture.length>0">
      <h2 class="text-secondary mt-5 mb-3">Nadcházející slevy</h2>
      <div class="row">
        <div class="col-lg-6" *ngFor="let discount of discountsFuture">
          {{updateSelectedDiscount(discount)}}
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="card mb-4">
                  <div class="card-header"><h4>Sleva číslo {{discount.id}}</h4></div>
                  <div class="card-body">
                    <div class="card-text">Sleva: {{discount.percent}}%</div>
                    <div class="card-text">Datum od: {{discountsService.dateToUserFriendlyStr(discount.datefrom)}}</div>
                    <div class="card-text">Datum do: {{discountsService.dateToUserFriendlyStr(discount.dateto)}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-primary mb-2" (click)="alterDiscount(discount.id)">Změnit slevu</button>
              </div>
              <div class="row">
                <button class="btn btn-danger mb-2" data-toggle="modal" data-target="#confirmDeleteDiscount"
                        (click)="prepareModalDelete(discount.id)">Zrušit slevu
                </button>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card mb-4">
                <div class="card-header"><h4>{{selectedProduct.name}}</h4></div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="{{productsService.getPictureUrl(selectedProduct)}}" alt="{{selectedProduct.name}}"
                           height="100"
                           width="100">
                      <p class="card-text">
                        <del>{{selectedProduct.price.toFixed(2)}} CZK</del>
                      </p>
                      <h5 class="card-text text-warning">{{discountPrice.toFixed(2)}} CZK</h5>
                      <button class="btn btn-success">Objednat</button>
                    </div>
                    <div class="col">
                      <h4 class="card-text text-warning">Sleva!</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="discountsOnGoing.length>0">
      <h2 class="text-secondary mb-3">Právě probíhající slevy</h2>
      <div class="row">
        <div class="col-lg-6" *ngFor="let discount of discountsOnGoing">
          {{updateSelectedDiscount(discount)}}
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="card">
                  <div class="card-header"><h4>Sleva číslo {{discount.id}}</h4></div>
                  <div class="card-body">
                    <div class="card-text">Sleva: {{discount.percent}}%</div>
                    <div class="card-text">Datum od: {{discountsService.dateToUserFriendlyStr(discount.datefrom)}}</div>
                    <div class="card-text">Datum do: {{discountsService.dateToUserFriendlyStr(discount.dateto)}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card">
                <div class="card-header"><h4>{{selectedProduct.name}}</h4></div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="{{productsService.getPictureUrl(selectedProduct)}}" alt="{{selectedProduct.name}}"
                           height="100"
                           width="100">
                      <p class="card-text">
                        <del>{{selectedProduct.price.toFixed(2)}} CZK</del>
                      </p>
                      <h5 class="card-text text-warning">{{discountPrice.toFixed(2)}} CZK</h5>
                      <button class="btn btn-success">Objednat</button>
                    </div>
                    <div class="col">
                      <h4 class="card-text text-warning">Sleva!</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="discountsPast.length>0">
      <h2 class="text-secondary mb-3">Již uběhlé slevy</h2>
      <div class="row">
        <div class="col-lg-6" *ngFor="let discount of discountsPast">
          {{updateSelectedDiscount(discount)}}
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="card">
                  <div class="card-header"><h4>Sleva číslo {{discount.id}}</h4></div>
                  <div class="card-body">
                    <div class="card-text">Sleva: {{discount.percent}}%</div>
                    <div class="card-text">Datum od: {{discountsService.dateToUserFriendlyStr(discount.datefrom)}}</div>
                    <div class="card-text">Datum do: {{discountsService.dateToUserFriendlyStr(discount.dateto)}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card">
                <div class="card-header"><h4>{{selectedProduct.name}}</h4></div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="{{productsService.getPictureUrl(selectedProduct)}}" alt="{{selectedProduct.name}}"
                           height="100"
                           width="100">
                      <p class="card-text">
                        <del>{{selectedProduct.price.toFixed(2)}} CZK</del>
                      </p>
                      <h5 class="card-text text-warning">{{discountPrice.toFixed(2)}} CZK</h5>
                      <button class="btn btn-success">Objednat</button>
                    </div>
                    <div class="col">
                      <h4 class="card-text text-warning">Sleva!</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isAlterDiscount">
  <app-discounts-alter [discountToAlter]="focusedDiscount"
                       [selectedProduct]="selectedProduct"
                       (finishedAlterDiscount)="finishAlteration($event)"
                       (showAll)="showAllDiscounts($event)"
  >
  </app-discounts-alter>
</div>

<div id="confirmDeleteDiscount" class="modal fade" *ngIf="focusedDiscount!=null">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-secondary">Smazat slevu</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4 class="text-primary">Opravdu si přejede vymazat slevu čislo {{focusedDiscount.id}}?</h4>
        <button type="button" class="btn btn-md btn-success" data-dismiss="modal"
                (click)="deleteDiscount(focusedDiscount.id)">Ano
        </button>
        <button type="button" class="btn btn-md btn-danger float-right" data-dismiss="modal">Ne</button>
      </div>
    </div>
  </div>
</div>
