<div class="container">
  <h1 class="text-secondary text-center">Registrovaní zákaznící</h1>
  <div *ngIf="loadingState.isWorking()">
    Loading...
  </div>
  <div *ngIf="loadingState.isError()">
        <pre>
          {{loadingState.getError()}}
        </pre>
  </div>
  <div *ngIf="loadingState.isSuccess()">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Uživatelské jméno</th>
          <th>Jméno</th>
          <th>Příjmení</th>
          <th>E-mail</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers" data-toggle="tooltip" title="password hash: {{customer.passwordHash}}">
          <td>{{customer.id}}</td>
          <td>{{customer.username}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.surname}}</td>
          <td>{{customer.email}}</td>
          <td *ngIf="customer.admin">Ano</td>
          <td *ngIf="!customer.admin">Ne</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
